<nav class="main-menu"><ul>
	<li><a href="/">Blog</a></li>
    <li><a href="/services/">Services</a></li>
	<li><a href="/contact/">Contact</a></li>
    {{! Add there all your static pages}}
</ul></nav>
